@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">

        <div class="row">
            <div class="col-md-4">
                <h4>Lord Of The Rings</h4>
                <div>
                    <img src="~/Content/Images/lotr.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-4">
                <h4>Pulp Fiction</h4>
                <div>
                    <img src="~/Content/Images/pulp.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-4">
                <h4>Memento</h4>
                <div>
                    <img src="~/Content/Images/memento.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>



    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <h4>Lord Of The Rings</h4>
                <div>
                    <img src="~/Content/Images/lotr.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-4">
                <h4>Pulp Fiction</h4>
                <div>
                    <img src="~/Content/Images/pulp.jpg" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-4">
                <h4>Memento</h4>
                <div>
                    <img src="~/Content/Images/memento.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
    